.ball {
  border-radius: 100rem;
  height: 40px;
  width: 40px;
}
.black {
  display: inline-block;
  background-color: black;
  transition: transform 2s;
}
.yellow {
  display: inline-block;
  background-color: yellow;
  transition-property: transform;
  transition-duration: 3s;
  transition-delay: 2s;
  margin-left: 35px;
}
.rollSmall {
  transform: translateX(40px);
}
